################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Mehran.TaxiFarePrediction/.vs/Mehran.TaxiFarePrediction/v15
