################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Mehran.TaxiFarePrediction/.vs/Mehran.TaxiFarePrediction/v15
/src/Mehran.TaxiFarePrediction/Mehran.TaxiFarePrediction/obj
/src/Mehran.TaxiFarePrediction/Mehran.TaxiFarePrediction/bin/Debug/netcoreapp2.1
